{% extends 'base.html' %}
{% load static %}
{% block title %}
  Admin Dashboard
{% endblock %}
{% block nav %}
  {% include 'includes/nav.html' %}
{% endblock %}

{% block menu %}
  {% include 'includes/menu.html' %}
{% endblock %}

{% block breadcrumbs %}
  <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
    <h3 class="content-header-title mb-0 d-inline-block">Lend</h3>
    <div class="row breadcrumbs-top d-inline-block">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" title="Click to visit ">
            <a href="{% url 'lenders:profile' %}">Profile</a>
          </li>
          {% comment %} <li class="breadcrumb-item active" title="Click to visit ">Buy ICO</li> {% endcomment %}
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
    <div class="btn-group float-md-right">
      {% comment %} <button class="edit-button" id="edit_user">
        <svg class="edit-svgIcon" viewBox="0 0 512 512">
          <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
        </svg>
      </button>
      <button class="edit-button" id="save_user" style="display: none;">
        <svg class="edit-svgIcon" style="enable-background:new 0 0 30 30;" version="1.1" viewBox="0 0 25 25" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M22,4h-2v6c0,0.552-0.448,1-1,1h-9c-0.552,0-1-0.448-1-1V4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18  c1.105,0,2-0.895,2-2V8L22,4z M22,24H8v-6c0-1.105,0.895-2,2-2h10c1.105,0,2,0.895,2,2V24z" />
          <rect height="5" width="2" x="16" y="4" />
        </svg>
      </button> {% endcomment %}
    </div>
  </div>
{% endblock %}

{% block bodycontent %}
<style>
  .edit-button,.save-button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: green;
      border: none;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
      cursor: pointer;
      transition-duration: 0.3s;
      overflow: hidden;
      position: relative;
      text-decoration: none !important;
  }
  .svgIcon {
      width: 17px;
      transition-duration: 0.3s;
  }
  .svgIcon path {
      fill: white;
  }
  .edit-button:hover,.save-button:hover {
      width: 120px;
      border-radius: 50px;
      transition-duration: 0.3s;
      background-color: green;
      align-items: center;
  }
  .edit-button:hover .svgIcon, .save-button:hover .svgIcon {
      width: 20px;
      transition-duration: 0.3s;
      transform: translateY(60%);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
  button::before {
      display: none;
      color: white;
      transition-duration: 0.3s;
      font-size: 2px;
  }
  .edit-button::before {
      content: "Edit";
  }
  .save-button::before {
      content: "Save";
  }
  .edit-button:hover::before , .save-button:hover::before {
      display: block;
      padding-right: 10px;
      font-size: 13px;
      opacity: 1;
      transform: translateY(0px);
      transition-duration: 0.3s;
  }
  form label {
      color: #2b335e;
      position: relative;
  }
  .card {
      display: none;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  .tracking-in-contract {
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2023-7-17 13:59:51
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation tracking-in-contract
   * ----------------------------------------
   */
  @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
  [tabindex='-1']:focus {
    outline: 0 !important;
  }
  
  dfn {
    font-style: italic;
  }
  
  .mr-2 {
    margin-right: .5rem !important;
  }
  
  .mt-3 {
    margin-top: 1rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .mb-5 {
    margin-bottom: 3rem !important;
  }
  
  .pt-5 {
    padding-top: 3rem !important;
  }
  
  .pb-8 {
    padding-bottom: 8rem !important;
  }
  
  
  
  .card-stats .card-body {
    padding: 1rem 1.5rem;
  }
  
  .icon {
    width: 3rem;
    height: 3rem;
  }
  
  .icon i {
    font-size: 2.25rem;
  }
  
  .icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .icon-shape i {
    font-size: 1.25rem;
  }
  
  span.h3.font-weight-bold.mb-0 {
    font-size: 17px !important;
    font-weight: bolder !important;
    padding-top: 1px;
    font-stretch: extra-expanded;
    font-family: monospace;
  }
  
  img.icon_image {
    height: 50px;
    /* border: 1px solid black; */
    border-radius: 50px;
    /* box-shadow: 1px 0px 0px 0px blue; */
  }
  
  .card-header {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    padding: 5px 0;
  }
  
  .col-md-6.col-sm-6.col-6.left {
    border-right: 1px solid #554f4fe8;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .stat_text {
    font-weight: bolder;
    font-size: 12px;
  }
  
  .row.more-stats {
    text-align: center;
  }
  
  .col-12.chart-section {
    padding: 0px !important;
    margin: 0px !important;
  }
  
  .card-body.distribution_chart {
    padding: 0px !important;
  }
  
  .card.pull-up {
    padding: -2px;
  }
  
  .card.pull-up.mb-1>.card-body {
    margin: 0px !important;
    padding: 6px 0px !important;
  }
  
  
  h6.mb-0 {
    font-size: 20px;
    font-family: monospace;
    padding: 5px;
  }
  
  p.stat_text_income {
    font-size: 15px;
    padding: 5px;
  }
  
  p.stat_text2 {
    font-family: math;
    font-weight: bolder;
    font-size: 15px;
    padding: 1px;
  }
  
  .loan_requests {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  /* new */
  .project-tab {
    padding: 10% 1%;
    margin-top: -8%;
  }
  .project-tab #tabs{
    background: #007b5e;
    color: #eee;
  }
  .project-tab #tabs h6.section-title{
    color: #eee;
  }
  .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
  }
  .project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
  }
  .project-tab .nav-link:hover {
    border: none;
  }
  .project-tab thead{
    background: #f3f3f3;
    color: #333;
  }
  .project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
  }
  .project-tab {
    padding: 8% 1% 1% 1%;
    margin-top: -8%;
  }
  
  p.card-text {
    padding: 3px;
    font-family: system-ui;
    border: 1px 1px solid;
    border-bottom: 1px solid #918585a3;
    margin: 7px 0px;
    /* border-radius: 5px; */
    font-size: 12px !important;
  }
  
  .details {
    float: right;
  }
  
  .collateralview {
    padding: 2px 10px;
  }
  
  .modal {
    top: 50px !important;
  }
  .checked {
    color: orange;
  }
  
  
  .file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    /* padding: 20px; */
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #191c4c;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #acafca;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1a1c4d;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1b2053;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1b1f52;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    /* padding: 0 10px 15px 15px; */
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #1b1f52;
    padding: 5px 0;
    font-size:15px;
  }
  
  .file-upload-image {
    max-height: 98px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #e92a13;
    border: none;
    /* padding: 10px; */
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: 12px;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  
  
</style>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
  
      var reader = new FileReader();
  
      reader.onload = function(e) {
        $('.image-upload-wrap').hide();
  
        $('.file-upload-image').attr('src', e.target.result);
        $('.file-upload-content').show();
  
        $('.image-title').html(input.files[0].name);
      };
  
      reader.readAsDataURL(input.files[0]);
  
    } else {
      removeUpload();
    }
  }
  
  function removeUpload() {
    $('.file-upload-input').replaceWith($('.file-upload-input').clone());
    $('.file-upload-content').hide();
    $('.image-upload-wrap').show();
  }
  
</script>
  {% if user_type == "lender" %}
  {% include 'includes/lenderprofile.html' %}
  {% else %}
  {% include 'borrowers/borrowerprofile.html' %}
  {% endif %}

<script>
$(document).ready(function () {
    $('#edit_user').click(function () {
        // Hide the user details interface and show the new UI container
        $('.user_profile').remove();
        $('.user_details_edit').show();
    });
    var cards = document.querySelectorAll(".card");
  
    // Function to apply animation classes and show cards sequentially
    function applyAnimationAndShow(cards, index) {
      if (index < cards.length) {
        setTimeout(function () {
          cards[index].style.display = "block"; // Show the card
          cards[index].classList.add("animate__animated", "animate__zoomIn");
          applyAnimationAndShow(cards, index + 1); // Recursively apply to the next card
        }, 500); // Adjust the delay as needed (in milliseconds)
      }
    }
    // Start applying animations and showing cards
    applyAnimationAndShow(cards, 0);
  
    // display save utton after edit-button is clicked
    function displaySaveButton() {
      // Show the "save_user" button
      $("#save_user").css("display", "flex");
  
      // Hide the "edit_user" button
      $("#edit_user").css("display", "none");
    }
  
  // Add an event listener to the "edit_user" button to call the function
    $("#edit_user").click(displaySaveButton);
  
    // submit form contents
    $("#borrowerinfo").submit(function (event) {
      event.preventDefault();
      var closeButton = $("button.btn.btn-secondary[data-dismiss='modal']");
      // Serialize the form data
      var formData = $(this).serialize();
  
      $.ajax({
        type: "POST",
        url: "{% url 'borrow:borrower_profile' %}",
        data: formData,
        success: function (response) {
          if (response.errors) {
            console.log(response.errors);
  
            // If there are error messages in the response, construct an HTML list of errors
            var errorMessage = response.errors;
  
            $('#registrationMessage')
              .html(errorMessage)
              .removeClass('alert-success')
              .addClass('alert alert-danger alert-dismissible')
              .hide()
              .fadeIn(1000, 'linear');
              setTimeout(function() {
                $('#registrationMessage').fadeOut(1000);
              }, 5000);
          } else if (response.message) {
            // If there's a success message in the response, display it in green
            $('#registrationMessage')
              .html(response.message)
              .css({
                'color': 'green',
                'background': '#17cc17',
                'padding': '5px',
                'border-radius': '5px',
                'opacity': '1',
              })
              .addClass('alert-success animate__animated animate__zoomIn')
              .show();
              
            setTimeout(function () {
              $('#registrationMessage').fadeOut(1000);
              window.location.href = "{% url 'lenders:profile' %}";
            }, 5000);
            
          }
        },
        error: function (xhr, status, error) {
          // Handle errors here
          console.error("Error:", error);
        }
      });
      
    });
  
  
});
  
</script>  
{% endblock %}
