{% extends 'base.html' %}
{% load static %}
{% block title %}
Admin Dashboard
{% endblock %}
{% block nav %}
{% include 'includes/nav.html' %}
{% endblock %}

{% block menu %}
{% include 'includes/menu.html' %}
{% endblock %}

{% block breadcrumbs %}

<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
  <h3 class="content-header-title mb-0 d-inline-block">Admin</h3>
  <div class="row breadcrumbs-top d-inline-block">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" title="Click to visit ">
          <a href="{% url 'management:settings' %}">Settings</a>
        </li>
        {% comment %} <li class="breadcrumb-item active" title="Click to visit ">Buy ICO</li> {% endcomment %}
      </ol>
    </div>
  </div>
</div>
<div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
  <div class="btn-group float-md-right">
    <a class="btn-gradient-secondary btn-xs white" href="">Export</a>
  </div>
</div>
{% endblock %}

{% block bodycontent %}
<style>
    h5.mt-0.text-capitalize.product-name {
        font-size: 28px;
        display: flex;
        align-content: flex-end;
        margin-top: 13px !important;
        font-family: ui-sans-serif;
    }
    .row.navigation_utils {
        padding: 10px;
        /* background: black; */
        /* color: white; */
        border-radius: 5px;
        /* border: 1px solid; */
        margin: 5px 0;
        background: white;
    }
</style>
<div class="row navigation_utils pull-up ">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/lend/settings/' %}active{% endif %}" href="{% url 'lenders:lender_settings' %}">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Loan Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
</div>

<div class="row">
  {% if request.path == '/lend/settings/' %}
  {% elif request.path == '/lend/mt_products/' %}
  <div class="col-12 mb-2">
    <button type="submit" class="btn-success round line-height-2" data-toggle="modal" data-target="#addnewproduct" style="cursor: pointer;" >Add New Loan Product</button>
  </div>
  <div class="col-12">
      <!--/ BTC -->
      <section class="card pull-up">
          <div class="card-content">
              <div class="card-body">
                  <div class="col-12">
                      <div class="row">
                          <div class="col-md-3 col-xl-2 col-12 d-none d-md-block">
                              <div class="crypto-circle rounded-circle">
                                  <i class="la la-dollar"></i>
                              </div>
                          </div>
                          <div class="col-md-9 col-12">
                              <p><strong>Swafi 1 Month</strong></p>
                              <p>Click the buttons below to see the details.</p>
                              {% comment %} <button type="button" class="btn btn-warning round mr-1 mb-0">Details</button> {% endcomment %}
                              <div class="row">
                                  <div class="col-md-2 col-4 py-1 text-center">
                                      <button type="button" class="btn btn-success btn-sm round mr-1" data-toggle="modal" data-target="#productdetails" style="cursor: pointer;" >Details</button>
                                  </div>
                                  <div class="col-md-2 col-4 py-1 text-center">
                                      <button type="button" class="btn btn-success btn-sm round mr-1" data-toggle="modal" data-target="#productdetails" style="cursor: pointer;" >Settings</button>
                                  </div>
                                  <div class="col-md-2 col-4 py-1 text-center">
                                      <button type="button" class="btn btn-success btn-sm round mr-1" data-toggle="modal" data-target="#productdetails" style="cursor: pointer;" >Remove</button>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </div>
  {% endif %}
    
</div>
<!-- more kpis-->

{% include 'modals/newproduct.html' %}
{% include 'modals/productdetails.html' %}

{% endblock %}