{% extends 'base.html' %}
{% load static %}
{% block title %}
Admin Dashboard
{% endblock %}
{% block nav %}
{% include 'includes/nav.html' %}
{% endblock %}

{% block menu %}
{% include 'includes/menu.html' %}
{% endblock %}

{% block breadcrumbs %}

<div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
  <h3 class="content-header-title mb-0 d-inline-block">Admin</h3>
  <div class="row breadcrumbs-top d-inline-block">
    <div class="breadcrumb-wrapper col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" title="Click to visit ">
          <a href="{% url 'management:settings' %}">Settings</a>
        </li>
        {% comment %} <li class="breadcrumb-item active" title="Click to visit ">Buy ICO</li> {% endcomment %}
      </ol>
    </div>
  </div>
</div>
<div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
  <div class="btn-group float-md-right">
    <a class="btn-gradient-secondary btn-xs white" href="">Export</a>
  </div>
</div>
{% endblock %}

{% block bodycontent %}
<style>
  
    h5.mt-0.text-capitalize.product-name {
        font-size: 28px;
        display: flex;
        align-content: flex-end;
        margin-top: 13px !important;
        font-family: ui-sans-serif;
    }
    .row.navigation_utils {
        padding: 10px;
        /* background: black; */
        /* color: white; */
        border-radius: 5px;
        /* border: 1px solid; */
        margin: 5px 0;
        background: white;
    }
</style>
<div class="row navigation_utils">
    <ul class="nav nav-pills nav-justified">
        {% comment %} <li class="nav-item">
          <a data-target="profile" class="nav-link active" href="/lend/loanapplications/profile">My Profile</a>
        </li> {% endcomment %}
        <li data-target="products" class="nav-item">
          <a id="products" class="nav-link" href='/lend/loanapplications/products'>My Loan Products</a>
        </li>
        <li data-target="agents" class="nav-item">
          <a id="agents" class="nav-link" href='/lend/loanapplications/agents'>My Agents</a>
        </li>
      </ul>
</div>
<div id="loader" class="loader"></div>
<div id="registrationMessage"></div>
{% if messages %}
<ul class="messages" style="padding: 0;">
    {% for message in messages %}
    <li id="registrationMessage" {% if message.tags %} class="{{ message.tags }} alert-success animate__animated animate__zoomIn"{% endif %} style="list-style: none;padding: 5px;border-radius: 5px;">{{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<div class="row ">
 <div id="content" style="width: 100%;">
   
 </div>
</div>
<!-- more kpis-->


<script>
$(document).ready(function() {
    const loader = $('#loader'); // Reference to the loader element
    const contentDiv = $('#content'); // Reference to the content area
    function showLoader() {
        loader.show();
        contentDiv.hide();
    };
    // loader functionality
    function hideLoader() {
        loader.hide();
        contentDiv.show();
    };

    function loadContent(url, targetSelector) {
        showLoader(); // Show the loader before making the AJAX request
        $.ajax({
            url: url,
            success: function(data) {
                var content = $(data).find(targetSelector).html();
                $('#content').html(data);
                hideLoader();
            },
            error: function(error) {
                console.log('Error loading content:', error);
                hideLoader();
            }
        });
    };
    // Attach click event to navigation links
    $('ul.nav.nav-pills li a.nav-link').click(function(event) {
        event.preventDefault();
        // Remove "active" class from all navigation links
        $('ul.nav.nav-pills li a.nav-link').removeClass('active');
        // Add "active" class to the clicked link
        $(this).addClass('active');
        var targetSelector = $(this).data('target');
        var url = $(this).attr('href');
        // Load content for the selected tab link
        loadContent(url, targetSelector);
        // auto click the first tab
    });
    $('ul.nav.nav-pills li a.nav-link:first').click();

});
</script>


{% endblock %}
