<style>
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 16px;
    background-color: transparent;
  }
  
  .table thead tr th {
    font-size: 17px;
    font-weight: 300;
  }
  
  .table > thead > tr > th {
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 300;
  }
  
  .table > tbody > tr > td {
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-weight: 300;
    font-size: 14px;
    color: #3c4858;
  }

</style>
<div class="col-12 mb-2">
  <div class="row p-2">
    <button class="learn-more">
      <span class="circle" aria-hidden="true"><span class="icon arrow"></span></span>
      <span class="button-text">Add New</span>
    </button>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Agent Name</th>
              <th>Portfolio Volume</th>
              <th>Portfolio Value</th>
              <th>CreatedOn</th>
              <th class="text-center">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">1</td>
              <td class="text-center">George Oduor</td>
              <td>1,000</td>
              <td>150,000</td>
              <td>23-Aug 2023</td>
              <td class="text-right">See details</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
