<style>
  .btn {
    color: #1b1e50;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #1b1f52;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }
  
  .btn:hover {
    color: white;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
  }
  
  .btn:hover::before {
    width: 160%;
  }
</style>
<div class="col-12 p-2">
  <button class="learn-more" data-toggle="modal" data-target="#addnewproduct">
    <span class="circle" aria-hidden="true"><span class="icon arrow"></span></span>
    <span class="button-text">Add New</span>
  </button>
  {% comment %} <button type="submit" class="btn-success round line-height-2" style="cursor: pointer;">Add New Loan Product</button> {% endcomment %}
</div>
<div class="col-12">
  <!-- / BTC -->

  {% if products %}
  {% for product in products %}
    <section class="card animate__animated animate__zoomIn">
      <div class="card-content">
        <div class="card-body">
          <div class="col-12">
            <div class="row">
              <div class="col-md-3 col-xl-2 col-12 d-none d-md-block">
                <div class="crypto-circle rounded-circle">
                  <i class="la la-dollar"></i>
                </div>
              </div>
              <div class="col-md-9 col-12">
                <p>
                  <strong>{{ product.name }}</strong>
                </p>
                <p>Click the buttons below to see the details.</p>
                {% comment %} <button type="button" class="btn btn-warning round mr-1 mb-0">Details</button> {% endcomment %}
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-12 py-1 text-center">
                    {% comment %} <button t class="btn btn-success btn-sm round mr-1" style="cursor: pointer;">Details</button> {% endcomment %}
                    <button type="button" class="btn" data-toggle="modal" data-target="#productdetails-{{ product.id }}">
                      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 192 512">
                        <!-- ! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path d="M48 80a48 48 0 1 1 96 0A48 48 0 1 1 48 80zM0 224c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V448h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H64V256H32c-17.7 0-32-14.3-32-32z" />
                      </svg>Product Details
                    </button>
                  </div>
                  <div class="col-md-4 col-sm-6 col-12 py-1 text-center">
                    <button type="button" style="color: white;"
                    {% if product.status == "Active" %}
                    class="btn btn-success">Active
                    {% else %}
                    class="btn btn-danger status">Inactive
                    {% endif %}
                  </button>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'modals/productdetails.html' %}
  {% endfor %}
  {% else %}
  <section class="card animate__animated animate__zoomIn">
    <div class="card-content">
      <div class="card-body">
        <p class="no-products" style="font-size: 2.1em;color: black;">
          Opps!seems you do not have any product at the moment.
        </p>
        <p>Click the <strong>Add New</strong> button above to create some products.</p>
      </div>
    </div>
  </section>
  {% endif %}
</div>
{% include 'modals/newproduct.html' %}
