<div class="col-12 mb-2">
    <button type="submit" class="btn-success round line-height-2" data-toggle="modal" data-target="#addnewproduct" style="cursor: pointer;" >Add New Loan Product</button>
  </div>
  <div class="col-12">
      <!--/ BTC -->
      <section class="card pull-up">
          <div class="card-content">
              <div class="card-body">
                  <div class="col-12">
                      <div class="row">
                          <div class="col-md-3 col-xl-2 col-12 d-none d-md-block">
                              <div class="crypto-circle rounded-circle">
                                  <i class="la la-dollar"></i>
                              </div>
                          </div>
                          <div class="col-md-9 col-12">
                              <p><strong>Swafi 1 Month</strong></p>
                              <p>Click the buttons below to see the details.</p>
                              {% comment %} <button type="button" class="btn btn-warning round mr-1 mb-0">Details</button> {% endcomment %}
                              <div class="row">
                                  <div class="col-md-2 col-4 py-1 text-center">
                                      <button type="button" class="btn btn-success btn-sm round mr-1" data-toggle="modal" data-target="#productdetails" style="cursor: pointer;" >Details</button>
                                  </div>
                                  <div class="col-md-2 col-4 py-1 text-center">
                                      <button type="button" class="btn btn-success btn-sm round mr-1" data-toggle="modal" data-target="#productdetails" style="cursor: pointer;" >Settings</button>
                                  </div>
                                  <div class="col-md-2 col-4 py-1 text-center">
                                      <button type="button" class="btn btn-success btn-sm round mr-1" data-toggle="modal" data-target="#productdetails" style="cursor: pointer;" >Remove</button>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </div>