{% load static %}
<style>
  .edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
  }

  .edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
  }

  .edit-svgIcon path {
    fill: white;
  }

  .edit-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }

  .edit-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .edit-button::before {
    display: none;
    content: "Edit";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }

  .edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }
  form label {
    color: #2b335e;
    position: relative;
}
</style>
<div class="user_details_edit" style="display: none;padding: 0px 15px;">
<form action="" method="post">
  {% csrf_token %}
  <div class="row">
      <div class="col-md-3 file_upload">
        <div class="card">
          <div class="card-body" style="height: 206px;">
            file upload
          </div>
        </div>
      </div>
      <div class="col-md-9 names">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"> Lending Details </div>
      <div class="card-body">
          <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input  type="lending_mobile_no" class="form-control" id="mobile" placeholder="Enter mobile number">
          </div>
          <div class="form-group">
            <label for="mobile">Lending as:</label>
            <input name = 'brand' type="text" class="form-control" id="lending_name" placeholder="Enter mobile lender name">
          </div>
          <div class="form-group">
            <label for="paybil">Paybill Number</label>
            <input name = 'paybillno' type="text" class="form-control" id="paybil" placeholder="Enter Paybill number">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</form> 
<div class="row user_profile" style="padding: 0px 15px;">
  <div class="col-md-3 col-12">
    <div class="card pull-up">
      <div class="card-content" style="text-align: center;">
        <div class="card-body">
          <img src="{% static 'images/useravatar.png' %}" alt="" srcset="" class="profile-image">
        </div>
        <div class="card-footer">
          <p class="name"> {{first_name}} {{last_name}} </p>
        
          <div class="row button-row mt-1" style="text-align: center;justify-content: center;">
            <button class="edit-button" id="edit_user">
              <svg class="edit-svgIcon" viewBox="0 0 512 512">
                <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-12">
    <div class="user_details">
      <section class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-12 py-0">
                  <p class="mb-0">
                    <span class="d-inline-block d-md-none text-bold-700"></span>
                    <i class="cc mobile"></i> Mobile Number
                  </p>
                </div>
                <div class="col-md-6 col-12 py-0" style="text-align: center;display: flex;justify-content: center;font-weight;">
                  <p class="mb-0" style="text-align: center;padding: 2px 15px;border-radius: 10px;font-weight: bold;">
                    <span class="d-inline-block d-md-none text-bold-700"></span> {{mobile_no}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-12 py-0">
                  <p class="mb-0">
                    <span class="d-inline-block d-md-none text-bold-700"></span>
                    <i class="cc mobile"></i> Lending as
                  </p>
                </div>
                <div class="col-md-6 col-12 py-0" style="text-align: center;display: flex;justify-content: center;font-weight;">
                  <p class="mb-0" style="text-align: center;padding: 2px 15px;border-radius: 10px;font-weight: bold;">
                    <span class="d-inline-block d-md-none text-bold-700"></span> Swafi credit
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-12 py-0">
                  <p class="mb-0">
                    <span class="d-inline-block d-md-none text-bold-700"></span>
                    <i class="cc mobile"></i> Rating
                  </p>
                </div>
                <div class="col-md-6 col-12 py-0" style="text-align: center;display: flex;justify-content: center;font-weight;">
                  <p class="mb-0" style="text-align: center;padding: 2px 15px;border-radius: 10px;font-weight: bold;">
                    <span class="d-inline-block d-md-none text-bold-700"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="card pull-up">
        <div class="card-content">
          <div class="card-body">
            <div class="col-12">
              <div class="row">
                <div class="col-md-4 col-12 py-0">
                  <p class="mb-0">
                    <span class="d-inline-block d-md-none text-bold-700"></span>
                    <i class="cc mobile"></i> My Agents
                  </p>
                </div>
                <div class="col-md-4 col-12 py-0">
                  <p class="mb-0" style="border: 1px solid;text-align: center;padding: 2px 15px;border-radius: 10px;font-weight: bold;">
                    <span class="d-inline-block d-md-none text-bold-700"></span>
                    <i class="cc mobile"></i> 6
                  </p>
                </div>
                <div class="col-md-4 col-12 py-0" style="text-align: center;display: flex;justify-content: center;font-weight;">
                  <p class="mb-0">
                    <a href="#" class="mb-0 btn-sm btn btn-success round">View Details</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#edit_user').click(function () {
        // Hide the user details interface and show the new UI container
        $('.user_profile').remove();
        $('.user_details_edit').show();
    });
});

</script>

