{% extends 'base.html' %}
{% load static %}
{% block title %}
  Admin Dashboard
{% endblock %}
{% block nav %}
  {% include 'includes/nav.html' %}
{% endblock %}

{% block menu %}
  {% include 'includes/menu.html' %}
{% endblock %}

{% block breadcrumbs %}
  <style>
    input#user-name {
      font-size: 20px;
      text-align: center;
      text-shadow: azure;
      letter-spacing: 2px;
      font-family: monospace;
    }
    input#loanamount {
      font-size: 20px;
      font-family: monospace;
      text-align: center;
      letter-spacing: 1px;
      /* padding: 4px; */
    }
    .form-group {
      margin: 4px 0px !important;
    }
    button {
      padding: 15px 25px;
      border: unset;
      border-radius: 15px;
      color: #212121;
      z-index: 1;
      background: #e8e8e8;
      position: relative;
      font-weight: 1000;
      font-size: 17px;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      transition: all 250ms;
      overflow: hidden;
    }
    
    button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 15px;
      background-color: #27387c;
      z-index: -1;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      transition: all 250ms;
    }
    
    button:hover {
      color: #e8e8e8;
    }
    
    button:hover::before {
      width: 100%;
    }
    .view-group {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-left: 0;
      margin-bottom: 0;
    }
    .thumbnail {
      margin-bottom: 30px;
      padding: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 15px;
    }
    img.group.list-group-image.img-fluid {
      border-radius: 15px 15px 0 0;
    }
    .item.list-group-item {
      float: none;
      width: 100%;
      background-color: #fff;
      margin-bottom: 30px;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 1rem;
      border: 0;
    }
    .item.list-group-item .img-event {
      float: left;
      width: 30%;
    }
    
    .item.list-group-item .list-group-image {
      margin-right: 10px;
    }
    .item.list-group-item .thumbnail {
      margin-bottom: 0px;
      display: inline-block;
    }
    .item.list-group-item .caption {
      float: left;
      width: 70%;
      margin: 0;
    }
    
    .item.list-group-item:before,
    .item.list-group-item:after {
      display: table;
      content: ' ';
    }
    
    .item.list-group-item:after {
      clear: both;
    }
    i.fa.fa-star,
    i.fa.fa-star-half {
      /* background-color: aqua; */
      color: #11db14;
      font-size: 18px;
    }
  </style>
  <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
    <h3 class="content-header-title mb-0 d-inline-block">Borrow</h3>
    <div class="row breadcrumbs-top d-inline-block">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" title="Click to visit ">
            <a href="{% url 'borrow:available_loans' %}">Available Lenders</a>
          </li>
          {% comment %} <li class="breadcrumb-item active" title="Click to visit ">Buy ICO</li> {% endcomment %}
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
    <div class="btn-group float-md-right">
      {% comment %} <button class="edit-button" id="edit_user">
        <svg class="edit-svgIcon" viewBox="0 0 512 512">
          <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
        </svg>
      </button>
      <button class="edit-button" id="save_user" style="display: none;">
        <svg class="edit-svgIcon" style="enable-background:new 0 0 30 30;" version="1.1" viewBox="0 0 25 25" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path d="M22,4h-2v6c0,0.552-0.448,1-1,1h-9c-0.552,0-1-0.448-1-1V4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18  c1.105,0,2-0.895,2-2V8L22,4z M22,24H8v-6c0-1.105,0.895-2,2-2h10c1.105,0,2,0.895,2,2V24z" />
          <rect height="5" width="2" x="16" y="4" />
        </svg>
      </button> {% endcomment %}
    </div>
  </div>
{% endblock %}

{% block bodycontent %}

  <div class="container">
    <div id="products" class="row view-group">
      {% if balances %}
      <!-- have an existing loan pay first-->
      <div class="item col-xs-4 col-lg-4 animate__animated animate__fadeInDownBig" style="border-radius: 10px;">
        <div class="card">
          <div class="card-body">
            <h4 class="group card-title inner mb-1 list-group-item-heading">You have and existing unpaid loan.Please pay first.</h4>
            <p class="lender-name mb-0">
              If this is a mistake, please contact your Lender.
            </p>
            <p class="row p-1 lender-rating mb-0" style="clear: both;">
              Click the button below to pay
            </p>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-6">
                <a class="btn btn-success btn-xs" href="{% url "borrow:borrower_landing" %}">
                  Pay
                </a>
              </div>
          </div>
        </div>
      </div>
      {% else %}
      {% for product in lenders %}
        <div class="item col-xs-4 col-lg-4 animate__animated animate__fadeInDownBig" style="border-radius: 10px;">
          <div class="thumbnail card">
            <div class="img-event">
              <img class="group list-group-image img-fluid" src="http://placehold.it/400x250/000/fff" alt="" />
            </div>
            <div class="caption card-body">
              <h4 class="group card-title inner mb-1 list-group-item-heading" style="font-weight: 900;">{{ product.name }}</h4>
              <p class="lender-name mb-0">
                <strong>Lender Name</strong>
                <span class="lender-name-actual">{{ product.lender.brand }}</span>
              </p>
              <p class="row p-1 lender-rating mb-0" style="clear: both;">
                <span class="charges pl-0 col-md-6" style="float: left;"><strong>Interest Rate :</strong> {{ product.interest_rate }}%</span>
                <span class="col-md-6" style="float: right;">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                </span>
                <span><p class="mb-1">Repayment Term: {{ product.repayment_term }} month(s)</p></span>
              </p>

              <div class="row">
                {% comment %} <div class="col-xs-6 col-md-6 col-6">
                  <button type="submit" class="btn btn-success btn-xs">View Details</button>
                </div> {% endcomment %}
                <div class="col-xs-6 col-md-6 col-6">
                  <button type="submit" class="btn" style="border-radius: 15px;border: 1px #27387c solid;" data-toggle="modal" data-target="#loanrequest-{{ product.id }}">
                    <img src="{% static 'images/icons/requestloan.svg' %}" alt="" style="height: 18px;padding: 0 2px 0 2px;" />
                    Apply Loan
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% include 'modals/loan_request.html' %}
      {% endfor %}{% endif %}
      
    </div>
  </div>
<script>
  var loanForms = document.querySelectorAll('.loanForm');
  loanForms.forEach(function(form) {
    var productId = form.dataset.productId;
    var loanAmountInput = document.getElementById("loanamount-" + productId);
    var interestInput   = document.getElementById("interest-"+ productId );
    var intRate         = document.getElementById("interestrate-" + productId);
    var feesInput       = document.getElementById("fees-"+ productId );
    var feesRate        = document.getElementById("feesrate-"+ productId );
    var totalLoanAmount = document.getElementById("total-"+ productId );
    // Listen for changes in the loan amount input field
    loanAmountInput.addEventListener("input", function () {
      // Get the loan amount entered by the user
      var loanAmount = parseFloat(loanAmountInput.value);
      // Get the interest rate
      var interestRate = parseFloat(intRate.value);
      // Calculate the interest amount based on the loan amount and interest rate
      var interestAmount = loanAmount * (interestRate / 100);
      // Get facilitation fees
      var feesrate = parseFloat(feesRate.value);
      console.log(feesrate)
      // Calculate facilitation fees amount
      var facilitationFees = interestAmount * (feesrate / 100)

      // total loan amount payable
      var totalamount = loanAmount + interestAmount + facilitationFees
      // Update the interest input field with the calculated interest amount
      interestInput.value = interestAmount.toFixed(2); // You can format it as needed
      feesInput.value = facilitationFees.toFixed(2); // You can format it as needed
      totalLoanAmount.value = totalamount.toFixed(2)
    });
  });
</script>
{% endblock %}
