{% load static %}

<div class="user_details_edit" style="padding: 0px 15px;">
  <div id="registrationMessage" class="mt-1 mb-1"></div>
    <div class="row sticky_container">
      <div class="col-12">
        <div class="card-body animate__animated animate__fadeInLeftBig" 
        style="justify-content: flex-end;display: flex;position: fixed;z-index: 1;float: right;align-content: space-between;align-items: center;/* bottom: 27px; */right: 47px;top: 102px;">
          <button class="edit-button" id="edit_user" type="button">
            <svg class="svgIcon" viewBox="0 0 512 512">
              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
<form action="/borrow/profile" method="post" id="borrowerinfo">
      {% csrf_token %}
    <div class="row">
      <div class="col-md-3 file_upload">
        
        <div class="card">
          <div class="card-body" imageview style="height: 225px;text-align: center;">
            <img src="{% static 'images/useravatar.png' %}" alt="" srcset="" class="portfolio-image" style="width:90%">
          </div>
          <div class="card-body imageuplaod" style="height: 225px;text-align: center;display: none;">
            <div class="file-upload-wrapper">
              <div class="file-upload">
                <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
                <div class="image-upload-wrap">
                  <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                  <div class="drag-text">
                    <h3>Profile Photo</h3>
                  </div>
                </div>
                <div class="file-upload-content">
                  <img class="file-upload-image" src="#" alt="your image" />
                  <div class="image-title-wrap">
                    <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 names">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input required name = "first_name"  type="text" class="form-control" id="firstName" placeholder="Enter first name" 
                  value="{{first_name}}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" required name = "last_name"  class="form-control" id="lastName" placeholder="Enter last name" value="{{first_name}}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" required name = "email"  class="form-control" id="email" placeholder="Enter email" value="{{email}}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="card">
          <div class="card-header mt-1"> Demographics </div>
          <div class="card-body">
              <div class="form-group">
                {% comment %} <label for="mobile">Marital Status</label> {% endcomment %}
                <select name="marital_status" class="custom-select">
                  <option>Marital Status:</option>
                  <option value="single" {% if marital_status == 'single' %}selected{% endif %}>Single</option>
                  <option value="married" {% if marital_status == 'married' %}selected{% endif %}>Married</option>
                  <option value="divorced" {% if marital_status == 'divorced' %}selected{% endif %}>Divorced</option>
                  <option value="widowed" {% if marital_status == 'widowed' %}selected{% endif %}>Widowed</option>
                  <option value="other" {% if marital_status == 'other' %}selected{% endif %}>Other</option>
                </select>
                
                <!--- <input  required name = "marital_status" value="{{mobile_no}}"  type="lending_mobile_no" class="form-control" id="mobile" placeholder="Enter mobile number"> -->
              </div>
              <div class="form-group">
              <select name="employment" id="employment-select" class="custom-select custom-select-xs" >
                <label for="paybil">Employment Status</label>
                <option value="employed" {% if employment_status == 'employed' %}selected{% endif %}>Employed</option>
                <option value="unemployed"  {% if employment_status == 'unemployed' %}selected{% endif %}>Unemployed</option>
                <option value="self-employed" {% if employment_status == 'self-employed' %}selected{% endif %}>Self-Employed</option>
                <option value="student" {% if employment_status == 'student' %}selected{% endif %}>Student</option>
                <option value="retired" {% if employment_status == 'retired' %}selected{% endif %}>Retired</option>
                <option value="other" {% if employment_status == 'other' %}selected{% endif %}>Other</option>
              </select>
              </div>
              <div class="form-group">
                <select name="employment_sector" class="custom-select custom-select-xs" >
                  <option>Specify sector</option>
                  <option value="agriculture" {% if employment_sector == 'agriculture' %}selected{% endif %}>Agriculture</option>
                  <option value="manufacturing" {% if employment_sector == 'manufacturing' %}selected{% endif %}>Manufacturing</option>
                  <option value="services" {% if employment_sector == 'services' %}selected{% endif %}>Services</option>
                  <option value="construction" {% if employment_sector == 'construction' %}selected{% endif %}>Construction</option>
                  <option value="retail" {% if employment_sector == 'retail' %}selected{% endif %}>Retail</option>
                  <option value="wholesale" {% if employment_sector == 'wholesale' %}selected{% endif %}>Wholesale</option>
                  <option value="transport" {% if employment_sector == 'transport' %}selected{% endif %}>Transport</option>
                  <option value="education" {% if employment_sector == 'education' %}selected{% endif %}>Education</option>
                  <option value="health" {% if employment_sector == 'health' %}selected{% endif %}>Health</option>
                  <option value="other" {% if employment_sector == 'other' %}selected{% endif %}>Other</option>
                </select>
              </div>
              <div class="form-group">
                <select name="education" class="custom-select custom-select-xs" >
                    <option>Highest Level of Education:</option>
                    <option value="primary" {% if education == 'primary' %}selected{% endif %}>Primary School</option>
                    <option value="secondary" {% if education == 'secondary' %}selected{% endif %}>Secondary School</option>
                    <option value="tertiary"  {% if education == 'tertiary' %}selected{% endif %}>Tertiary</option>
                    <option value="university"  {% if education == 'university' %}selected{% endif %}>University</option>
                    <option value="other" {% if education == 'other' %}selected{% endif %}>Other</option>
                </select>
              </div>
              <div class="form-group">
                <select name="income-range" class="custom-select custom-select-xs" >
                  <option>Income Range(Ksh) per month:</option>
                  <option value="1" {% if income_range == '1' %}selected{% endif %}>0-10,000</option>
                  <option value="2" {% if income_range == '2' %}selected{% endif %}>10,000-20,000</option>
                  <option value="3" {% if income_range == '3' %}selected{% endif %}>20,000-30,000</option>
                  <option value="4" {% if income_range == '4' %}selected{% endif %}>30,000-40,000</option>
                  <option value="5" {% if income_range == '5' %}selected{% endif %}>40,000-50,000</option>
                  <option value="6" {% if income_range == '6' %}selected{% endif %}>Above 50,000</option>
                </select>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="card">
          <div class="card-header mt-1"> Physical Address </div>
          <div class="card-body">
              <div class="form-group">
                <label for="mobile">Country</label>
                <input required name = "country"  value="{{country}}" type="lending_mobile_no" class="form-control" id="mobile" placeholder="Enter your current county">
              </div>
              <div class="form-group">
                <label for="mobile">County:</label>
                <input required name =  'county' value="{{county}}" type="text" class="form-control" id="lending_name" placeholder="Enteryour current town">
              </div>
              <div class="form-group">
                <label for="paybil">Zip Code</label>
                <input required name =  'zip_code' value="{{zip_code}}"   type="text" class="form-control" id="paybil" placeholder="Enter your zip code">
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="card">
          <div class="card-header mt-1"> Key Contact Details</div>
          <div class="card-body">
              
            <div class="form-group mb-0">
              <label for="Main Mobile Number">Main Mobile Number</label>
              <input required name =  'main_mobile_no' value="{{mobile_no}}"   type="text" class="form-control" id="mobile_no" placeholder="Enter your main mobile number">
            </div>
            <div class="form-group mb-0">
              <label for="Main Mobile Number">Alternative Mobile Number</label>
              <input required name =  'alternative_mobile_no' value="{{alternative_mobile_number}}"   type="text" class="form-control" id="mobile_no" placeholder="Enter your alternative mobile_no">
            </div>
            <div class="form-group ">
              <label for="Main Mobile Number">Referer Mobile Number</label>
              <input required name =  'referer_mobile_no' value="{{alternative_mobile_number}}"   type="text" class="form-control" id="mobile_no" placeholder="Enter your refere mobile_no">
            </div>
            <div class="files_section m-0" style="margin-top: -10px !important;border: 1px solid;border-radius: 5px;padding: 5px;">
              <h6>Update your credit data</h6>
                <p >
                  Update your credit data with us to get even higher loans!
                  <a href="#">Click here</a> to upload.
                </p>
              
              
            </div>
              {% comment %} <div class="form-group">
                <label for="mobile">Lending as:</label>
                <input required name =   'brand' type="text" class="form-control" id="lending_name" placeholder="Enter mobile lender name">
              </div>
              <div class="form-group">
                <label for="paybil">Paybill Number</label>
                <input required name =   'paybillno' type="text" class="form-control" id="paybil" placeholder="Enter Paybill number">
              </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
             <button type="submit" class="save-button animate__animated animate__fadeInDownBig" id="save_user" style="display: none;"> 
               <svg class="svgIcon" style="enable-background:new 0 0 30 30;" version="1.1" viewBox="0 0 25 25" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M22,4h-2v6c0,0.552-0.448,1-1,1h-9c-0.552,0-1-0.448-1-1V4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h18  c1.105,0,2-0.895,2-2V8L22,4z M22,24H8v-6c0-1.105,0.895-2,2-2h10c1.105,0,2,0.895,2,2V24z" />
                <rect height="5" width="2" x="16" y="4" />
              </svg> 
            </button> 
          </div>
        </div>
      </div>
    </div>
</form> 
</div>
