<!-- Loan Limit Modal -->
<div class="modal fade" id="loanbalance" tabindex="-1" role="dialog" aria-labelledby="loanLimitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loanLimitModalLabel">Your Loan Balance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Amount <span class="eligible-amount">Ksh 5,000.</span></p>
          <hr>
          <p class="text-muted" >
            <small>Increase your loan limit by paying early.</small>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>