<!-- Loan Limit Modal -->
<div class="modal fade" id="payloan" tabindex="-1" role="dialog" aria-labelledby="loanLimitModalLabel" aria-hidden="true">
    <div class="modal-dialog  small_modal" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loanLimitModalLabel">Pay Loan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <form method="post" action="">
            {% csrf_token %}
            <input type="text" name="lender" value="{{balances.lender_id}}" hidden>
            <input type="text" name="product" value="{{balances.product_id}}" hidden>
            <input type="text" name="borrower_id" value="{{balances.borrower_id}}" hidden>
            <div class="form-group">
              <label for="user-name">Amount</label>
              <input name="amount" type="decimal" class="form-control" id="loanamount"
               placeholder="Ksh {{balances.balance}}" required="" autofocus=""
               max="{{balances.balance}}" min="0" >
            </div>
            <div class="form-group">
              <label for="user-name">Mobile Number to pay from</label>
              <input name="mobile_no" type="text" class="form-control" id="loanamount" placeholder="254711222222" required="" autofocus="" />
            </div>
            <div class="form-group">
              <button  type="submit" class="btn btn-outline-success m-0">Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>

  </script>